/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */

header {
    background: NEW_HEADER_BACKGROUND_COLOR;
    color: NEW_HEADER_TEXT_COLOR;
    padding-top: NEW_HEADER_PADDING;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

footer {
    background: NEW_FOOTER_BACKGROUND_COLOR;
    color: NEW_FOOTER_TEXT_COLOR;
    text-align: center;
    padding: NEW_FOOTER_PADDING;
    margin-top: 50px;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Call to Action Button Styles */

.cta-button {
    display: inline-block;
    background: #e8491d;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background: #35424a;
    color: #e8491d;
}

/* Footer Styles */

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}